<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.pm.dao.PmEmployeeEducationDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.pm.domain.PmEmployeeEducation">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="school" property="school" />
        <result column="education" property="education" />
        <result column="enrollment_time" property="enrollmentTime" />
        <result column="graduation_time" property="graduationTime" />
        <result column="new_education_flag" property="newEducationFlag" />
        <result column="specialized_subject" property="specializedSubject" />
        <result column="enrollment" property="enrollment" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="PmEmployeeEducationResultMap" type="com.sunten.hrms.pm.domain.PmEmployeeEducation" autoMapping="true">
        <id column="id" property="id" />
        <association property="employee"
                     javaType="com.sunten.hrms.pm.domain.PmEmployee"
                     resultMap="com.sunten.hrms.pm.dao.PmEmployeeDao.PmEmployeeResultMap"
                     columnPrefix="pe_" />
        <association property="educationTemp"
                     javaType="com.sunten.hrms.pm.domain.PmEmployeeEducationTemp"
                     resultMap="com.sunten.hrms.pm.dao.PmEmployeeEducationTempDao.PmEmployeeEducationTempResultMap"
                     columnPrefix="peet_" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            pee.employee_id as pe_id, pee.school, pee.education, pee.enrollment_time, pee.graduation_time,
            pee.new_education_flag, pee.specialized_subject, pee.enrollment, pee.attribute1, pee.attribute2,
            pee.attribute3, pee.enabled_flag, pee.id, pee.create_time, pee.create_by, pee.update_time,
            pee.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.employee_id as ${tAlias}_pe_id, ${tAlias}.school as ${tAlias}_school,
            ${tAlias}.education as ${tAlias}_education, ${tAlias}.enrollment_time as ${tAlias}_enrollment_time,
            ${tAlias}.graduation_time as ${tAlias}_graduation_time,
            ${tAlias}.new_education_flag as ${tAlias}_new_education_flag,
            ${tAlias}.specialized_subject as ${tAlias}_specialized_subject,
            ${tAlias}.enrollment as ${tAlias}_enrollment, ${tAlias}.attribute1 as ${tAlias}_attribute1,
            ${tAlias}.attribute2 as ${tAlias}_attribute2, ${tAlias}.attribute3 as ${tAlias}_attribute3,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.id as ${tAlias}_id,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from pm_employee_education pee
        ]]>
    </sql>

    <sql id="Column_With_Temp_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[,]]>
        <bind name="tAlias" value="'peet'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeEducationTempDao.Base_Column_With_Param_List"/>
        <![CDATA[
              from pm_employee_education pee
              left join pm_employee_education_temp peet
              on pee.id = peet.education_id
              and peet.enabled_flag = 1
              and peet.check_flag = 'D'
              and peet.instructions_flag = 'U'
        ]]>
    </sql>


    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.employeeId != null">
                <![CDATA[
               and pee.employee_id = #{criteria.employeeId,jdbcType=BIGINT}
                ]]>
            </if>
            <if test="criteria.newEducationFlag != null">
                <![CDATA[
               and pee.new_education_flag = #{criteria.newEducationFlag,jdbcType=BIT}
                ]]>
            </if>
            <if test="criteria.enabled != null">
                <![CDATA[
               and pee.enabled_flag = #{criteria.enabled,jdbcType=BIT}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.pm.domain.PmEmployeeEducation" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into pm_employee_education (employee_id, school, education,
                                               enrollment_time, graduation_time,
                                               new_education_flag, specialized_subject,
                                               enrollment, attribute1,
                                               attribute2, attribute3, enabled_flag,
                                               create_time, create_by,
                                               update_time, update_by)
            values (#{employee.id,jdbcType=BIGINT}, #{school,jdbcType=VARCHAR}, #{education,jdbcType=VARCHAR},
                    #{enrollmentTime,jdbcType=DATE}, #{graduationTime,jdbcType=DATE},
                    #{newEducationFlag,jdbcType=BIT}, #{specializedSubject,jdbcType=VARCHAR},
                    #{enrollment,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR},
                    #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=BIT},
                    #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from pm_employee_education
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.pm.domain.PmEmployeeEducation">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.pm.domain.PmEmployeeEducation">
        <![CDATA[
            update pm_employee_education
               set employee_id         = #{employee.id,jdbcType=BIGINT},
                   school              = #{school,jdbcType=VARCHAR},
                   education           = #{education,jdbcType=VARCHAR},
                   enrollment_time     = #{enrollmentTime,jdbcType=DATE},
                   graduation_time     = #{graduationTime,jdbcType=DATE},
                   new_education_flag  = #{newEducationFlag,jdbcType=BIT},
                   specialized_subject = #{specializedSubject,jdbcType=VARCHAR},
                   enrollment          = #{enrollment,jdbcType=VARCHAR},
                   attribute1          = #{attribute1,jdbcType=VARCHAR},
                   attribute2          = #{attribute2,jdbcType=VARCHAR},
                   attribute3          = #{attribute3,jdbcType=VARCHAR},
                   enabled_flag        = #{enabledFlag,jdbcType=BIT},
                   update_time         = #{updateTime,jdbcType=TIMESTAMP},
                   update_by           = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="PmEmployeeEducationResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where pee.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="getMainEducationByKey" resultMap="PmEmployeeEducationResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where pee.employee_id = #{employeeId,jdbcType=BIGINT}
               and pee.enabled_flag = 1
               and pee.new_education_flag = 1

        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="PmEmployeeEducationResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="PmEmployeeEducationResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <update id="updateEnableFlag" parameterType="com.sunten.hrms.pm.domain.PmEmployeeEducation">
        <![CDATA[
        update pm_employee_education
        set enabled_flag        = #{enabledFlag,jdbcType=BIT},
            update_time         = #{updateTime,jdbcType=TIMESTAMP},
            update_by           = #{updateBy,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <update id="updateNewEducationFlag" parameterType="com.sunten.hrms.pm.domain.PmEmployeeEducation">
        <![CDATA[
        update pm_employee_education
        set new_education_flag        = #{newEducationFlag,jdbcType=BIT},
            update_time         = #{updateTime,jdbcType=TIMESTAMP},
            update_by           = #{updateBy,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="listAllAndTempByEmployee" resultMap="PmEmployeeEducationResultMap">
        <include refid="Column_With_Temp_Query_Sql"/>
        <![CDATA[
          where pee.enabled_flag = 1
          and pee.employee_id = #{employeeId,jdbcType=BIGINT}
          order by id
         ]]>
    </select>

    <select id="superQuery" parameterType="java.lang.String" resultMap="PmEmployeeEducationResultMap">
        <![CDATA[
            select
            peedu.employee_id as pe_id,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, peedu.education) > 0 then peedu.education else null end as education,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, peedu.enrollment) > 0 then peedu.enrollment else null end as enrollment,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, peedu.school) > 0 then peedu.school else null end as school,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, peedu.specialized_subject) > 0 then peedu.specialized_subject else null end as specialized_subject
            from pm_employee_education peedu join pm_employee pe on pe.id = peedu.employee_id where peedu.enabled_flag = 1
            and pe.enabled_flag = 1 and concat(
            peedu.education,peedu.enrollment,peedu.school,peedu.specialized_subject
            ) like '%' + #{queryValue, jdbcType = VARCHAR} + '%'
        ]]>
    </select>

</mapper>
