<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.pm.dao.PmEmployeeLeaveofficeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.pm.domain.PmEmployeeLeaveoffice">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="quit_time" property="quitTime" />
        <result column="job_name" property="jobName" />
        <result column="dept_name" property="deptName" />
        <result column="procedures_flag" property="proceduresFlag" />
        <result column="certificate_sign_time" property="certificateSignTime" />
        <result column="leave_type" property="leaveType"/>
        <result column="remarks" property="remarks" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="PmEmployeeLeaveofficeResultMap" type="com.sunten.hrms.pm.domain.PmEmployeeLeaveoffice" autoMapping="true">
        <id column="id" property="id" />
        <association property="employee"
                     javaType="com.sunten.hrms.pm.domain.PmEmployee"
                     resultMap="com.sunten.hrms.pm.dao.PmEmployeeDao.PmEmployeeResultMap"
                     columnPrefix="pe_" />
        <association property="rehire"
                     javaType="com.sunten.hrms.pm.domain.PmEmployeeRehire"
                     resultMap="com.sunten.hrms.pm.dao.PmEmployeeRehireDao.PmEmployeeRehireResultMap"
                     columnPrefix="per_" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            pel.employee_id as pe_id, pel.quit_time, pel.job_name, pel.dept_name, pel.procedures_flag,
            pel.certificate_sign_time, pel.leave_type, pel.remarks, pel.attribute1, pel.attribute2, pel.attribute3,
            pel.enabled_flag, pel.id, pel.create_time, pel.create_by, pel.update_time, pel.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.employee_id as ${tAlias}_pe_id, ${tAlias}.quit_time as ${tAlias}_quit_time,
            ${tAlias}.job_name as ${tAlias}_job_name, ${tAlias}.dept_name as ${tAlias}_dept_name,
            ${tAlias}.procedures_flag as ${tAlias}_procedures_flag,
            ${tAlias}.certificate_sign_time as ${tAlias}_certificate_sign_time,
            ${tAlias}.leave_type as ${tAlias}_leave_type,
            ${tAlias}.remarks as ${tAlias}_remarks, ${tAlias}.attribute1 as ${tAlias}_attribute1,
            ${tAlias}.attribute2 as ${tAlias}_attribute2, ${tAlias}.attribute3 as ${tAlias}_attribute3,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.id as ${tAlias}_id,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from pm_employee_leaveoffice pel
        ]]>
    </sql>

    <sql id="Base_Column_With_Rehire_Query_Sql">
        <![CDATA[
            select isnull(fd_dept.dept_name, pe_pej.attribute2) as pe_dept_name, isnull(fd_department.dept_name, pe_pej.attribute3) AS pe_department,
	isnull(fd_team.dept_name, pe_pej.attribute4) AS pe_team,
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[,]]>
        <bind name="tAlias" value="'pe'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeDao.Base_Column_With_Param_List"/>
        <![CDATA[,]]>
        <bind name="tAlias" value="'per'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeRehireDao.Base_Column_With_Param_List"/>
        <![CDATA[, datediff(year, pe.birthday, GETDATE()) -
                                    (case WHEN month(GETDATE()) < month(pe.birthday) THEN 1 ELSE
                                         (case WHEN month(GETDATE()) = month(pe.birthday) AND day(GETDATE()) < day(pe.birthday) THEN 1 ELSE 0 END)
                                     END) AS pe_age,
                   (CASE WHEN EXISTS (select 1 from employee_temp_check_v cv where cv.employee_id = pe.id) THEN 1 ELSE 0 END) pe_need_check,
                                     ]]>
        <bind name="tAlias" value="'pe_pej'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeJobDao.Base_Column_With_Param_List"/>
        <![CDATA[, ISNULL(pe_peen.id, -1) pe_peen_id,]]>
        <bind name="tAlias" value="'pe_peen'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeEntryDao.Base_Column_With_Param_List"/>
        <![CDATA[, ISNULL(pe_pee.id, -1) pe_pee_id,]]>
        <bind name="tAlias" value="'pe_pee'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeEducationDao.Base_Column_With_Param_List"/>
        <![CDATA[, ISNULL(pe_pet.id, -1) pe_pet_id,]]>
        <bind name="tAlias" value="'pe_pet'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeTitleDao.Base_Column_With_Param_List"/>
        <![CDATA[, ISNULL(pe_pev.id, -1) pe_pev_id,]]>
        <bind name="tAlias" value="'pe_pev'"/>
        <include refid="com.sunten.hrms.pm.dao.PmEmployeeVocationalDao.Base_Column_With_Param_List"/>
        <![CDATA[
              from pm_employee_leaveoffice pel
              join pm_employee pe
              on pe.id = pel.employee_id and pe.leave_flag = 1
              left join pm_employee_rehire per
              on per.employee_id = pe.id
              left outer join pm_employee_job pe_pej
              on pe.id = pe_pej.employee_id
              and pe_pej.job_main_flag = 1
              and pe_pej.enabled_flag = 1
               outer apply (
               select top(1) peen_ap.* from pm_employee_entry peen_ap
               where peen_ap.employee_id = pe.id
                       AND peen_ap.enabled_flag = 1
               ) pe_peen
               outer apply (
               select top(1) pee_ap.* from pm_employee_education pee_ap
               where pee_ap.employee_id = pe.id
                       AND pee_ap.enabled_flag = 1
                       AND pee_ap.new_education_flag = 1
               ) pe_pee
               outer apply (
               select top(1) pet_ap.* from pm_employee_title pet_ap
               where pet_ap.employee_id = pe.id
                       AND pet_ap.enabled_flag = 1
                       AND pet_ap.new_title_flag = 1
               ) pe_pet
               outer apply
               (SELECT TOP(1) pev_ap.*
                      FROM pm_employee_vocational pev_ap
                     WHERE pev_ap.employee_id = pe.id
                       AND pev_ap.enabled_flag = 1
                       AND pev_ap.new_vocational_flag = 1
                ) pe_pev
               outer apply
               f_get_dept_parent_by_level(pe_pej.dept_id,'部','部门','-') fd_dept
               outer apply
               f_get_dept_parent_by_level(pe_pej.dept_id,'科室','-','-') fd_department
               outer apply
               f_get_dept_parent_by_level(pe_pej.dept_id,'班组','-','-') fd_team
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_With_Rehire_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.leaveTimeStart != null and criteria.leaveTimeEnd != null">
                <![CDATA[
                and pel.quit_time >= #{criteria.leaveTimeStart,jdbcType=DATE}
                and pel.quit_time <= #{criteria.leaveTimeEnd,jdbcType=DATE}
                ]]>
            </if>
            <if test="criteria.employeeId != null">
                <![CDATA[
               and pel.employee_id = #{criteria.employeeId,jdbcType=BIGINT}
                ]]>
            </if>
            <if test="criteria.enabled != null">
                <![CDATA[
               and pel.enabled_flag = #{criteria.enabled,jdbcType=BIT}
                ]]>
            </if>
            <if test="criteria.deptIds != null and criteria.deptIds.size > 0">
                <![CDATA[
              and exists (SELECT 1
                          FROM pm_employee_job pej_t
                         WHERE pej_t.employee_id = pel.employee_id
                           AND pej_t.enabled_flag = 1
                           AND pej_t.dept_id IN ]]>
                <foreach collection="criteria.deptIds" item="item" index="index" open=" (" separator="," close=")">
                    <![CDATA[
                        #{item, jdbcType=BIGINT}
                    ]]>
                </foreach>
                <![CDATA[ )]]>
            </if>
            <include refid="com.sunten.hrms.fnd.dao.FndDynamicQueryTemplateDao.dynamic_query_template_sql"/>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.pm.domain.PmEmployeeLeaveoffice" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into pm_employee_leaveoffice (employee_id, quit_time, job_name,
                                                 dept_name, procedures_flag,
                                                 certificate_sign_time, leave_type, remarks,
                                                 attribute1, attribute2,
                                                 attribute3, enabled_flag,
                                                 create_time, create_by,
                                                 update_time, update_by)
            values (#{employee.id,jdbcType=BIGINT}, #{quitTime,jdbcType=DATE}, #{jobName,jdbcType=VARCHAR},
                    #{deptName,jdbcType=VARCHAR}, #{proceduresFlag,jdbcType=BIT},
                    #{certificateSignTime,jdbcType=TIMESTAMP}, #{leaveType,jdbcType=VARCHAR},#{remarks,jdbcType=VARCHAR},
                    #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
                    #{attribute3,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=BIT},
                    #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from pm_employee_leaveoffice
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.pm.domain.PmEmployeeLeaveoffice">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.pm.domain.PmEmployeeLeaveoffice">
        <![CDATA[
            update pm_employee_leaveoffice
               set employee_id           = #{employee.id,jdbcType=BIGINT},
                   quit_time             = #{quitTime,jdbcType=DATE},
                   job_name              = #{jobName,jdbcType=VARCHAR},
                   dept_name             = #{deptName,jdbcType=VARCHAR},
                   procedures_flag       = #{proceduresFlag,jdbcType=BIT},
                   certificate_sign_time = #{certificateSignTime,jdbcType=TIMESTAMP},
                   leave_type            = #{leaveType,jdbcType=VARCHAR},
                   remarks               = #{remarks,jdbcType=VARCHAR},
                   attribute1            = #{attribute1,jdbcType=VARCHAR},
                   attribute2            = #{attribute2,jdbcType=VARCHAR},
                   attribute3            = #{attribute3,jdbcType=VARCHAR},
                   enabled_flag          = #{enabledFlag,jdbcType=BIT},
                   update_time           = #{updateTime,jdbcType=TIMESTAMP},
                   update_by             = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="PmEmployeeLeaveofficeResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where pel.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="PmEmployeeLeaveofficeResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="PmEmployeeLeaveofficeResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <select id="getByEmployeeId" resultMap="PmEmployeeLeaveofficeResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where pel.employee_id = #{employeeId,jdbcType=BIGINT}  and pel.enabled_flag=1
        ]]>
    </select>

    <update id="updateEnableFlag" parameterType="com.sunten.hrms.pm.domain.PmEmployeeLeaveoffice">
        <![CDATA[
        update pm_employee_leaveoffice
        set enabled_flag          = #{enabledFlag,jdbcType=BIT},
            update_time           = #{updateTime,jdbcType=TIMESTAMP},
            update_by             = #{updateBy,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="superQuery" parameterType="java.lang.String" resultMap="PmEmployeeLeaveofficeResultMap">
        <![CDATA[
                    select
            pel.employee_id as pe_id,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, pel.job_name) > 0 then pel.job_name else null end as job_name,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, pel.dept_name) > 0 then pel.dept_name else null end as dept_name,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, pel.leave_type) > 0 then pel.leave_type else null end as leave_type,
            case when CHARINDEX(#{queryValue, jdbcType = VARCHAR}, pel.remarks) > 0 then pel.remarks else null end as remarks
            from pm_employee_leaveoffice pel  where pel.enabled_flag = 1
           and concat(
          pel.job_name,pel.dept_name,pel.leave_type,pel.remarks
            ) like '%' + #{queryValue, jdbcType = VARCHAR} + '%'
        ]]>
    </select>
</mapper>
