<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.fnd.dao.FndDynamicQueryOperatorGroupDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.fnd.domain.FndDynamicQueryOperatorGroup">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="sort" property="sort" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="FndDynamicQueryOperatorGroupResultMap" type="com.sunten.hrms.fnd.domain.FndDynamicQueryOperatorGroup" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            fdqog.id, fdqog.name, fdqog.remark, fdqog.sort, fdqog.enabled_flag, fdqog.create_time,
            fdqog.create_by, fdqog.update_time, fdqog.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.name as ${tAlias}_name,
            ${tAlias}.remark as ${tAlias}_remark, ${tAlias}.sort as ${tAlias}_sort,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.create_time as ${tAlias}_create_time,
            ${tAlias}.create_by as ${tAlias}_create_by, ${tAlias}.update_time as ${tAlias}_update_time,
            ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from fnd_dynamic_query_operator_group fdqog
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.enabled != null">
                <![CDATA[
               and fdqog.enabled_flag = #{criteria.enabled,jdbcType=BIT}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.fnd.domain.FndDynamicQueryOperatorGroup" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into fnd_dynamic_query_operator_group (name, remark, sort,
                                                          enabled_flag, create_time, create_by,
                                                          update_time, update_by)
            values (#{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{sort,jdbcType=INTEGER},
                    #{enabledFlag,jdbcType=BIT}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from fnd_dynamic_query_operator_group
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.fnd.domain.FndDynamicQueryOperatorGroup">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.fnd.domain.FndDynamicQueryOperatorGroup">
        <![CDATA[
            update fnd_dynamic_query_operator_group
               set name         = #{name,jdbcType=VARCHAR},
                   remark       = #{remark,jdbcType=VARCHAR},
                   sort         = #{sort,jdbcType=INTEGER},
                   enabled_flag = #{enabledFlag,jdbcType=BIT},
                   update_time  = #{updateTime,jdbcType=TIMESTAMP},
                   update_by    = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="FndDynamicQueryOperatorGroupResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where fdqog.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="FndDynamicQueryOperatorGroupResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="FndDynamicQueryOperatorGroupResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

</mapper>
