<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.fnd.dao.FndRoleDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.fnd.domain.FndRole">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="remark" property="remark" />
        <result column="data_scope" property="dataScope" />
        <result column="level" property="level" />
        <result column="permission" property="permission" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="FndRoleResultMap" type="com.sunten.hrms.fnd.domain.FndRole" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            fr.id, fr.name, fr.remark, fr.data_scope, fr.level, fr.permission, fr.create_time, fr.create_by,
            fr.update_time, fr.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.name as ${tAlias}_name,
            ${tAlias}.remark as ${tAlias}_remark, ${tAlias}.data_scope as ${tAlias}_data_scope,
            ${tAlias}.level as ${tAlias}_level, ${tAlias}.permission as ${tAlias}_permission,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from fnd_role fr
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.blurry != null">
                <![CDATA[
               and (fr.name like #{criteria.blurry,jdbcType=VARCHAR}
                  or fr.remark like #{criteria.blurry,jdbcType=VARCHAR})
                ]]>
            </if>
            <if test="criteria.startTime != null">
                <![CDATA[
               and fr.create_time >= #{criteria.startTime,jdbcType=TIMESTAMP}
                ]]>
            </if>
            <if test="criteria.endTime != null">
                <![CDATA[
               and fr.create_time <= #{criteria.endTime,jdbcType=TIMESTAMP}
                ]]>
            </if>
            <if test="criteria.permission != null">
                <![CDATA[
               and fr.permission = #{criteria.permission,jdbcType=VARCHAR}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.fnd.domain.FndRole" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into fnd_role (name, remark, data_scope,
                                  level, permission, create_time,
                                  create_by, update_time, update_by)
            values (#{name,jdbcType=VARCHAR}, #{remark,jdbcType=VARCHAR}, #{dataScope,jdbcType=VARCHAR},
                    #{level,jdbcType=INTEGER}, #{permission,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                    #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from fnd_role
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.fnd.domain.FndRole">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.fnd.domain.FndRole">
        <![CDATA[
            update fnd_role
               set name        = #{name,jdbcType=VARCHAR},
                   remark      = #{remark,jdbcType=VARCHAR},
                   data_scope  = #{dataScope,jdbcType=VARCHAR},
                   level       = #{level,jdbcType=INTEGER},
                   permission  = #{permission,jdbcType=VARCHAR},
                   update_time = #{updateTime,jdbcType=TIMESTAMP},
                   update_by   = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="FndRoleResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where fr.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="FndRoleResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
			 order by fr.id
		]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="FndRoleResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <select id="listAllByPage" parameterType="com.baomidou.mybatisplus.extension.plugins.pagination.Page"
            resultMap="FndRoleResultMap">
        <include refid="Base_Column_Query_Sql"/>
    </select>

    <select id="getByName" resultMap="FndRoleResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
			 where fr.name = #{name,jdbcType=VARCHAR}
		]]>
    </select>

    <select id="listByUserId" resultMap="FndRoleResultMap">
        <![CDATA[
		    select
		]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
			  from fnd_role fr
			  left outer join fnd_users_roles fur
			    on fr.id = fur.role_id
			  left outer join fnd_user fu
			    on fur.user_id = fu.id
			 where fu.id = #{id,jdbcType=BIGINT}
			 order by fr.id
		]]>
    </select>

</mapper>
