<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.fnd.dao.FndUsersRolesDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.fnd.domain.FndUsersRoles">
        <id column="user_id" property="userId" />
        <id column="role_id" property="roleId" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="FndUsersRolesResultMap" type="com.sunten.hrms.fnd.domain.FndUsersRoles" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            fur.user_id, fur.role_id, fur.create_time, fur.create_by, fur.update_time, fur.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.user_id as ${tAlias}_user_id, ${tAlias}.role_id as ${tAlias}_role_id,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from fnd_users_roles fur
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
            where 1 = 1
        ]]>
<!--        <if test="criteria.xxxx != null">-->
<!--            <![CDATA[-->
<!--              and xxxxx like #{criteria.xxxx,jdbcType=xxxx}-->
<!--            ]]>-->
<!--        </if>-->
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.fnd.domain.FndUsersRoles">
        <![CDATA[
            insert into fnd_users_roles (user_id, role_id, create_time,
                                         create_by, update_time, update_by)
            values (#{userId,jdbcType=BIGINT}, #{roleId,jdbcType=BIGINT}, #{createTime,jdbcType=TIMESTAMP},
                    #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from fnd_users_roles
             where user_id = #{userId,jdbcType=BIGINT}
               and role_id = #{roleId,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.fnd.domain.FndUsersRoles">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.fnd.domain.FndUsersRoles">
        <![CDATA[
            update fnd_users_roles
               set update_time = #{updateTime,jdbcType=TIMESTAMP},
                   update_by   = #{updateBy,jdbcType=BIGINT}
             where user_id = #{userId,jdbcType=BIGINT}
               and role_id = #{roleId,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="FndUsersRolesResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where fur.user_id = #{userId,jdbcType=BIGINT}
               and fur.role_id = #{roleId,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="FndUsersRolesResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by user_id, role_id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="FndUsersRolesResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <select id="checkHaveRoleBySeIdAndPermission" resultType="java.lang.Boolean">
        <![CDATA[
		    select case when exists (select 1 from fnd_users_roles fur where fur.user_id = (select top 1 fu.id from fnd_user fu
        join swm_employee se on fu.employee_id = se.employee_id and se.work_flag = 1
        where se.id = #{seId, jdbcType = BIGINT} and fu.enabled_flag = 1
        ) and fur.role_id = (select fr.id from fnd_role fr where fr.permission = #{permission, jdbcType = VARCHAR})) then 1 else 0 end
		]]>
    </select>

    <select id="checkHaveRoleByUserIdAndPermission" resultType="java.lang.Boolean">
        <![CDATA[
            select case when exists  (select 1 from fnd_users_roles fur where fur.user_id = #{userId, jdbcType=BIGINT}
            and fur.role_id = (select fr.id from fnd_role fr where fr.permission = #{permission, jdbcType = VARCHAR})) then 1 else 0 end
        ]]>
    </select>

</mapper>
