<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.tool.dao.ToolVerificationCodeDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.tool.domain.ToolVerificationCode">
        <id column="id" property="id" />
        <result column="code" property="code" />
        <result column="status" property="status" />
        <result column="type" property="type" />
        <result column="value" property="value" />
        <result column="scenes" property="scenes" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="ToolVerificationCodeResultMap" type="com.sunten.hrms.tool.domain.ToolVerificationCode" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            tvc.id, tvc.code, tvc.status, tvc.type, tvc.value, tvc.scenes, tvc.create_time, tvc.create_by, 
            tvc.update_time, tvc.update_by 
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.code as ${tAlias}_code, 
            ${tAlias}.status as ${tAlias}_status, ${tAlias}.type as ${tAlias}_type, 
            ${tAlias}.value as ${tAlias}_value, ${tAlias}.scenes as ${tAlias}_scenes, 
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by, 
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by 
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from tool_verification_code tvc
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
<!--        <if test="criteria.xxxx != null">-->
<!--            <![CDATA[-->
<!--              and xxxxx like #{criteria.xxxx,jdbcType=xxxx}-->
<!--            ]]>-->
<!--        </if>-->
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.tool.domain.ToolVerificationCode" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into tool_verification_code (code, status, type,
                                                value, scenes, create_time,
                                                create_by, update_time, update_by)
            values (#{code,jdbcType=VARCHAR}, #{status,jdbcType=BIT}, #{type,jdbcType=VARCHAR},
                    #{value,jdbcType=VARCHAR}, #{scenes,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                    #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from tool_verification_code
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.tool.domain.ToolVerificationCode">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.tool.domain.ToolVerificationCode">
        <![CDATA[
            update tool_verification_code
               set code        = #{code,jdbcType=VARCHAR},
                   status      = #{status,jdbcType=BIT},
                   type        = #{type,jdbcType=VARCHAR},
                   value       = #{value,jdbcType=VARCHAR},
                   scenes      = #{scenes,jdbcType=VARCHAR},
                   update_time = #{updateTime,jdbcType=TIMESTAMP},
                   update_by   = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="ToolVerificationCodeResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where tvc.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="ToolVerificationCodeResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="ToolVerificationCodeResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <select id="getEnableCode" resultMap="ToolVerificationCodeResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where scenes = #{scenes,jdbcType=VARCHAR}
               and type = #{type,jdbcType=VARCHAR}
               and value = #{value,jdbcType=VARCHAR}
               and status = 1
        ]]>
    </select>

</mapper>
