<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.tool.dao.ToolLocalStorageDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.tool.domain.ToolLocalStorage">
        <id column="id" property="id" />
        <result column="real_name" property="realName" />
        <result column="name" property="name" />
        <result column="suffix" property="suffix" />
        <result column="path" property="path" />
        <result column="type" property="type" />
        <result column="file_size" property="fileSize" />
        <result column="operate" property="operate" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="ToolLocalStorageResultMap" type="com.sunten.hrms.tool.domain.ToolLocalStorage" autoMapping="true">
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            tls.id, tls.real_name, tls.name, tls.suffix, tls.path, tls.type, tls.file_size, tls.operate,
            tls.create_time, tls.create_by, tls.update_time, tls.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.real_name as ${tAlias}_real_name,
            ${tAlias}.name as ${tAlias}_name, ${tAlias}.suffix as ${tAlias}_suffix,
            ${tAlias}.path as ${tAlias}_path, ${tAlias}.type as ${tAlias}_type,
            ${tAlias}.file_size as ${tAlias}_file_size, ${tAlias}.operate as ${tAlias}_operate,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from tool_local_storage tls
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1  and not exists (select 1 from td_courseware td where td.file_id = tls.id)
             and not exists (select 1 from td_job_authentication tja where tja.file_id = tls.id)
             and not exists (select 1 from td_teacher_apply tta where tta.file_id = tls.id)
        ]]>
        <if test="criteria != null">
            <if test="criteria.blurry != null">
                <![CDATA[
               and (tls.name like #{criteria.blurry,jdbcType=VARCHAR}
                 or tls.suffix like #{criteria.blurry,jdbcType=VARCHAR}
                 or tls.type like #{criteria.blurry,jdbcType=VARCHAR}
                 or tls.operate like #{criteria.blurry,jdbcType=VARCHAR}
                 or tls.file_size like #{criteria.blurry,jdbcType=VARCHAR})
                ]]>
            </if>
            <if test="criteria.startTime != null">
                <![CDATA[
               and tls.create_time >= #{criteria.startTime,jdbcType=TIMESTAMP}
                ]]>
            </if>
            <if test="criteria.endTime != null">
                <![CDATA[
               and tls.create_time <= #{criteria.endTime,jdbcType=TIMESTAMP}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.tool.domain.ToolLocalStorage" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into tool_local_storage (real_name, name, suffix,
                                            path, type, file_size,
                                            operate, create_time, create_by,
                                            update_time, update_by)
            values (#{realName,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR}, #{suffix,jdbcType=VARCHAR},
                    #{path,jdbcType=VARCHAR}, #{type,jdbcType=VARCHAR}, #{fileSize,jdbcType=VARCHAR},
                    #{operate,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from tool_local_storage
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.tool.domain.ToolLocalStorage">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.tool.domain.ToolLocalStorage">
        <![CDATA[
            update tool_local_storage
               set real_name   = #{realName,jdbcType=VARCHAR},
                   name        = #{name,jdbcType=VARCHAR},
                   suffix      = #{suffix,jdbcType=VARCHAR},
                   path        = #{path,jdbcType=VARCHAR},
                   type        = #{type,jdbcType=VARCHAR},
                   file_size   = #{fileSize,jdbcType=VARCHAR},
                   operate     = #{operate,jdbcType=VARCHAR},
                   update_time = #{updateTime,jdbcType=TIMESTAMP},
                   update_by   = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <update id="updateNameById" parameterType="com.sunten.hrms.tool.domain.ToolLocalStorage">
        <![CDATA[
            update tool_local_storage
               set name        = #{name,jdbcType=VARCHAR},
                   update_time = #{updateTime,jdbcType=TIMESTAMP},
                   update_by   = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="ToolLocalStorageResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where tls.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="ToolLocalStorageResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="ToolLocalStorageResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

</mapper>
