<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.kpi.dao.KpiAssessmentDimensionDeptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.kpi.domain.KpiAssessmentDimensionDept">
        <id column="id" property="id" />
        <result column="assessment_dimension_id" property="assessmentDimensionId" />
        <result column="department_tree_id" property="departmentTreeId" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="attribute4" property="attribute4" />
        <result column="attribute5" property="attribute5" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="assessment_dimension" property="assessmentDimension" />
    </resultMap>

    <resultMap id="KpiAssessmentDimensionDeptResultMap" type="com.sunten.hrms.kpi.domain.KpiAssessmentDimensionDept" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            kadd.id, kadd.assessment_dimension_id, kadd.department_tree_id, kadd.attribute1, kadd.attribute2,
            kadd.attribute3, kadd.attribute4, kadd.attribute5, kadd.create_time, kadd.create_by,
            kadd.update_time, kadd.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.id as ${tAlias}_id,
            ${tAlias}.assessment_dimension_id as ${tAlias}_assessment_dimension_id,
            ${tAlias}.department_tree_id as ${tAlias}_department_tree_id,
            ${tAlias}.attribute1 as ${tAlias}_attribute1, ${tAlias}.attribute2 as ${tAlias}_attribute2,
            ${tAlias}.attribute3 as ${tAlias}_attribute3, ${tAlias}.attribute4 as ${tAlias}_attribute4,
            ${tAlias}.attribute5 as ${tAlias}_attribute5, ${tAlias}.create_time as ${tAlias}_create_time,
            ${tAlias}.create_by as ${tAlias}_create_by, ${tAlias}.update_time as ${tAlias}_update_time,
            ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from kpi_assessment_dimension_dept kadd
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
<!--        <if test="criteria != null">-->
<!--        <if test="criteria.xxxx != null">-->
<!--            <![CDATA[-->
<!--                and kadd.xxxxx like #{criteria.xxxx,jdbcType=xxxx}-->
<!--            ]]>-->
<!--        </if>-->
<!--        </if>-->
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.kpi.domain.KpiAssessmentDimensionDept" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into kpi_assessment_dimension_dept (assessment_dimension_id, department_tree_id,
                                                       attribute1, attribute2,
                                                       attribute3, attribute4,
                                                       attribute5, create_time,
                                                       create_by, update_time, update_by)
            values (#{assessmentDimensionId,jdbcType=BIGINT}, #{departmentTreeId,jdbcType=BIGINT},
                    #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
                    #{attribute3,jdbcType=VARCHAR}, #{attribute4,jdbcType=VARCHAR},
                    #{attribute5,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP},
                    #{createBy,jdbcType=BIGINT}, #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from kpi_assessment_dimension_dept
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.kpi.domain.KpiAssessmentDimensionDept">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByKpiTree" parameterType="com.sunten.hrms.kpi.domain.KpiAssessmentDimensionDept">
        <![CDATA[
            delete
             from kpi_assessment_dimension_dept
             where assessment_dimension_id = #{assessmentDimensionId,jdbcType=BIGINT}
             and department_tree_id = #{departmentTreeId,jdbcType=BIGINT}
        ]]>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.kpi.domain.KpiAssessmentDimensionDept">
        <![CDATA[
            update kpi_assessment_dimension_dept
               set assessment_dimension_id = #{assessmentDimensionId,jdbcType=BIGINT},
                   department_tree_id      = #{departmentTreeId,jdbcType=BIGINT},
                   attribute1              = #{attribute1,jdbcType=VARCHAR},
                   attribute2              = #{attribute2,jdbcType=VARCHAR},
                   attribute3              = #{attribute3,jdbcType=VARCHAR},
                   attribute4              = #{attribute4,jdbcType=VARCHAR},
                   attribute5              = #{attribute5,jdbcType=VARCHAR},
                   update_time             = #{updateTime,jdbcType=TIMESTAMP},
                   update_by               = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="KpiAssessmentDimensionDeptResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where kadd.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="KpiAssessmentDimensionDeptResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="KpiAssessmentDimensionDeptResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <select id="listMultipleChoice" resultMap="KpiAssessmentDimensionDeptResultMap">
        select  kad.id,kad.assessment_dimension from kpi_department_tree kdt
            join kpi_assessment_dimension_dept kadd on kdt.id=kadd.department_tree_id
            join kpi_assessment_dimension kad on kad.id=kadd.assessment_dimension_id
        where kdt.id = #{id,jdbcType=BIGINT}
    </select>

    <select id="listMultipleChoiceLongList" resultType="Long">
        select  kad.id from kpi_department_tree kdt
            right join kpi_assessment_dimension_dept kadd on kdt.id=kadd.department_tree_id
            left join kpi_assessment_dimension kad on kad.id=kadd.assessment_dimension_id
        where kdt.id = #{id,jdbcType=BIGINT}
    </select>

</mapper>
