<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.td.dao.TdCredentialDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.td.domain.TdCredential">
        <id column="id" property="id" />
        <result column="employee_id" property="employeeId" />
        <result column="credential_name" property="credentialName" />
        <result column="credential_type" property="credentialType" />
        <result column="specific_project" property="specificProject" />
        <result column="grant_organization" property="grantOrganization" />
        <result column="grant_date" property="grantDate" />
        <result column="validity_date" property="validityDate" />
        <result column="admin_adress" property="adminAdress" />
        <result column="store_adress" property="storeAdress" />
        <result column="appraisal_flag" property="appraisalFlag" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
        <result column="admin_adress_type" property="adminAdressType"/>
        <result column="store_adress_type" property="storeAdressType"/>
    </resultMap>

    <resultMap id="TdCredentialResultMap" type="com.sunten.hrms.td.domain.TdCredential" autoMapping="true">
        <id column="id" property="id" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            tc.employee_id, tc.credential_name, tc.credential_type, tc.specific_project,
            tc.grant_organization, tc.grant_date, tc.validity_date, tc.admin_adress, tc.store_adress,
            tc.appraisal_flag, tc.enabled_flag, tc.id, tc.create_time, tc.create_by, tc.update_time,
            tc.update_by, tc.admin_adress_type, tc.store_adress_type
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.employee_id as ${tAlias}_employee_id,
            ${tAlias}.credential_name as ${tAlias}_credential_name,
            ${tAlias}.credential_type as ${tAlias}_credential_type,
            ${tAlias}.specific_project as ${tAlias}_specific_project,
            ${tAlias}.grant_organization as ${tAlias}_grant_organization,
            ${tAlias}.grant_date as ${tAlias}_grant_date, ${tAlias}.validity_date as ${tAlias}_validity_date,
            ${tAlias}.admin_adress as ${tAlias}_admin_adress, ${tAlias}.store_adress as ${tAlias}_store_adress,
            ${tAlias}.appraisal_flag as ${tAlias}_appraisal_flag,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.id as ${tAlias}_id,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.update_by as ${tAlias}_update_by,
            ${tAlias}.admin_adress_type as ${tAlias}_admin_adress_type, ${tAlias}.store_adress_type as ${tAlias}_store_adress_type
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
            pe.name, pe.work_card, 	( SELECT fdt.dept_name FROM fnd_dept fdt WHERE fd.ext_dept_id = fdt.id ) AS dept_name,
	( SELECT fdt.dept_name FROM fnd_dept fdt WHERE fd.ext_department_id = fdt.id ) AS department,
	( SELECT fdt.dept_name FROM fnd_dept fdt WHERE fd.ext_team_id = fdt.id ) AS team,
	0 as check_dialog_flag, 0 as del_dialog_flag,
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from td_credential tc join pm_employee pe on pe.id = tc.employee_id and pe.enabled_flag = 1
              join pm_employee_job pej on pe.id = pej.employee_id and pej.job_main_flag = 1 and pej.enabled_flag = 1
              join fnd_dept fd on fd.id = pej.dept_id and fd.enabled_flag = 1
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.deptIds != null and criteria.deptIds.size > 0">
                <![CDATA[ and exists (SELECT 1
                                  FROM pm_employee_job pejt
                                 WHERE pejt.id = pej.id
                                   AND pejt.dept_id IN ]]>
                <foreach collection="criteria.deptIds" item="item" index="index" open=" (" separator="," close=")">
                    <![CDATA[
                    #{item, jdbcType=BIGINT}
                ]]>
                </foreach>
                <![CDATA[ )]]>
            </if>
            <if test="criteria.employeeId != null">
                <![CDATA[
                    and tc.employee_id = #{criteria.employeeId, jdbcType = BIGINT}
            ]]>
            </if>
            <if test="criteria.enabledFlag != null">
                <![CDATA[
                    and tc.enabled_flag = #{criteria.enabledFlag,jdbcType=BIT}
                ]]>
            </if>
            <include refid="com.sunten.hrms.fnd.dao.FndDynamicQueryTemplateDao.dynamic_query_template_sql"/>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.td.domain.TdCredential" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into td_credential (employee_id, credential_name,
                                       credential_type, specific_project,
                                       grant_organization, grant_date,
                                       validity_date, admin_adress,
                                       store_adress, appraisal_flag, enabled_flag,
                                       create_time, create_by,
                                       update_time, update_by,
                                       admin_adress_type,store_adress_type)
            values (#{employeeId,jdbcType=BIGINT}, #{credentialName,jdbcType=VARCHAR},
                    #{credentialType,jdbcType=VARCHAR}, #{specificProject,jdbcType=VARCHAR},
                    #{grantOrganization,jdbcType=VARCHAR}, #{grantDate,jdbcType=DATE},
                    #{validityDate,jdbcType=DATE}, #{adminAdress,jdbcType=VARCHAR},
                    #{storeAdress,jdbcType=VARCHAR}, #{appraisalFlag,jdbcType=BIT}, #{enabledFlag,jdbcType=BIT},
                    #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
                    #{adminAdressType, jdbcType = VARCHAR}, #{storeAdressType, jdbcType = VARCHAR})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from td_credential
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.td.domain.TdCredential">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.td.domain.TdCredential">
        <![CDATA[
            update td_credential
               set employee_id        = #{employeeId,jdbcType=BIGINT},
                 update_time        = #{updateTime,jdbcType=TIMESTAMP},
                   update_by          = #{updateBy,jdbcType=BIGINT}
                    ]]>
                    <if test="credentialName != null">
        <![CDATA[
                        ,credential_name   = #{credentialName,jdbcType=VARCHAR}
                             ]]>
                    </if>
        <if test="credentialType != null">
            <![CDATA[
                        ,credential_type    = #{credentialType,jdbcType=VARCHAR}
                             ]]>
        </if>
        <if test="specificProject != null">
            <![CDATA[
                        ,specific_project   = #{specificProject,jdbcType=VARCHAR}
                             ]]>
        </if>
        <if test="grantOrganization != null">
            <![CDATA[
                        ,grant_organization = #{grantOrganization,jdbcType=VARCHAR}
                             ]]>
        </if>
        <if test="grantDate != null">
            <![CDATA[
                        ,grant_date         = #{grantDate,jdbcType=DATE}
                             ]]>
        </if>
        <if test="validityDate != null">
            <![CDATA[
                        ,validity_date      = #{validityDate,jdbcType=DATE}
                             ]]>
        </if>
        <if test="adminAdress != null">
            <![CDATA[
                        ,admin_adress       = #{adminAdress,jdbcType=VARCHAR}
                             ]]>
        </if>
        <if test="storeAdress != null">
            <![CDATA[
                        ,store_adress       = #{storeAdress,jdbcType=VARCHAR}
                             ]]>
        </if>
        <if test="appraisalFlag != null">
            <![CDATA[
                        ,appraisal_flag     = #{appraisalFlag,jdbcType=BIT}
                             ]]>
        </if>
        <if test="enabledFlag != null">
            <![CDATA[
                        ,enabled_flag       = #{enabledFlag,jdbcType=BIT}
                             ]]>
        </if>
        <if test="adminAdressType != null">
            <![CDATA[
                        ,admin_adress_type       = #{adminAdressType,jdbcType=VARCHAR}
                             ]]>
        </if>
        <if test="storeAdressType != null">
            <![CDATA[
                        ,store_adress_type       = #{storeAdressType,jdbcType=VARCHAR}
                             ]]>
        </if>
        <![CDATA[
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="TdCredentialResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where tc.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="TdCredentialResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="TdCredentialResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.deptIds != null and criteria.deptIds.size > 0">
                <![CDATA[ and exists (SELECT 1
                                  FROM pm_employee_job pejt
                                 WHERE pejt.id = pej.id
                                   AND pejt.dept_id IN ]]>
                <foreach collection="criteria.deptIds" item="item" index="index" open=" (" separator="," close=")">
                    <![CDATA[
                    #{item, jdbcType=BIGINT}
                ]]>
                </foreach>
                <![CDATA[ )]]>
            </if>
            <if test="criteria.employeeId != null">
                <![CDATA[
                    and tc.employee_id = #{criteria.employeeId, jdbcType = BIGINT}
            ]]>
            </if>
            <if test="criteria.enabledFlag != null">
                <![CDATA[
                    and tc.enabled_flag = #{criteria.enabledFlag,jdbcType=BIT}
                ]]>
            </if>
            <include refid="com.sunten.hrms.fnd.dao.FndDynamicQueryTemplateDao.dynamic_query_template_sql"/>
        </if>
    </select>

</mapper>
