<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.swm.dao.SwmNolimitationDeptDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.swm.domain.SwmNolimitationDept">
        <result column="id" property="id" />
        <result column="dept_name" property="deptName" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="SwmNolimitationDeptResultMap" type="com.sunten.hrms.swm.domain.SwmNolimitationDept" autoMapping="true">
    </resultMap>

    <resultMap id="SwmDeptMap" type="com.sunten.hrms.swm.domain.SwmNolimitationDept">
        <result column="department" property="department" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            snd.id, snd.dept_name, snd.enabled_flag, snd.create_time, snd.create_by, snd.update_time,
            snd.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.dept_name as ${tAlias}_dept_name,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.create_time as ${tAlias}_create_time,
            ${tAlias}.create_by as ${tAlias}_create_by, ${tAlias}.update_time as ${tAlias}_update_time,
            ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from swm_noLimitation_dept snd
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
             and snd.enabled_flag = 1
        ]]>
<!--        <if test="criteria != null">-->
<!--        <if test="criteria.xxxx != null">-->
<!--            <![CDATA[-->
<!--                and snd.xxxxx like #{criteria.xxxx,jdbcType=xxxx}-->
<!--            ]]>-->
<!--        </if>-->
<!--        </if>-->
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.swm.domain.SwmNolimitationDept">
        <![CDATA[
            insert into swm_noLimitation_dept (dept_name, enabled_flag,
                                               create_time, create_by,
                                               update_time, update_by)
            values (#{deptName,jdbcType=VARCHAR}, 1,
                    #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from swm_noLimitation_dept
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.swm.domain.SwmNolimitationDept">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.swm.domain.SwmNolimitationDept">
        <![CDATA[
            update swm_noLimitation_dept
               set dept_name     = #{deptName,jdbcType=VARCHAR},
                   enabled_flag = #{enabledFlag,jdbcType=BIGINT},
                   update_time = #{updateTime,jdbcType=TIMESTAMP},
                   update_by   = #{updateBy,jdbcType=BIGINT}
               where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="SwmNolimitationDeptResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="SwmNolimitationDeptResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <select id="listAllByCriteriaPage" resultMap="SwmNolimitationDeptResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>


    <select id="countDept" resultType="java.lang.Long">

        select count(*) from swm_noLimitation_dept where dept_name = #{deptName,jdbcType=VARCHAR} and enabled_flag = 1

    </select>

    <select id="getSwmDept" resultMap="SwmDeptMap">

        select distinct(department) from swm_employee

    </select>

</mapper>
