<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.re.dao.ReAwardInterfaceDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.re.domain.ReAwardInterface">
        <id column="id" property="id" />
        <result column="re_id" property="reId" />
        <result column="type" property="type" />
        <result column="award_name" property="awardName" />
        <result column="award_star_time" property="awardStarTime" />
        <result column="award_end_time" property="awardEndTime" />
        <result column="award_company" property="awardCompany" />
        <result column="award_content" property="awardContent" />
        <result column="award_result" property="awardResult" />
        <result column="award_money" property="awardMoney" />
        <result column="reference_backup_flag" property="referenceBackupFlag" />
        <result column="remarks" property="remarks" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="update_time" property="updateTime" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <resultMap id="ReAwardInterfaceResultMap" type="com.sunten.hrms.re.domain.ReAwardInterface" autoMapping="true">
        <id column="id" property="id" />
        <association property="recruitmentInterface"
                     javaType="com.sunten.hrms.re.domain.ReRecruitmentInterface"
                     resultMap="com.sunten.hrms.re.dao.ReRecruitmentInterfaceDao.ReRecruitmentInterfaceResultMap"
                     columnPrefix="rri_"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            rai.re_id as rri_id, rai.type, rai.award_name, rai.award_star_time, rai.award_end_time, rai.award_company,
            rai.award_content, rai.award_result, rai.award_money, rai.reference_backup_flag, rai.remarks,
            rai.attribute1, rai.attribute2, rai.attribute3, rai.enabled_flag, rai.id, rai.create_time,
            rai.update_by, rai.update_time, rai.create_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.re_id as ${tAlias}_rri_id, ${tAlias}.type as ${tAlias}_type,
            ${tAlias}.award_name as ${tAlias}_award_name,
            ${tAlias}.award_star_time as ${tAlias}_award_star_time,
            ${tAlias}.award_end_time as ${tAlias}_award_end_time,
            ${tAlias}.award_company as ${tAlias}_award_company,
            ${tAlias}.award_content as ${tAlias}_award_content,
            ${tAlias}.award_result as ${tAlias}_award_result, ${tAlias}.award_money as ${tAlias}_award_money,
            ${tAlias}.reference_backup_flag as ${tAlias}_reference_backup_flag,
            ${tAlias}.remarks as ${tAlias}_remarks, ${tAlias}.attribute1 as ${tAlias}_attribute1,
            ${tAlias}.attribute2 as ${tAlias}_attribute2, ${tAlias}.attribute3 as ${tAlias}_attribute3,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.id as ${tAlias}_id,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.update_by as ${tAlias}_update_by,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.create_by as ${tAlias}_create_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from re_award_interface rai
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.recruitmentId != null">
                <![CDATA[
               and rai.re_id = #{criteria.recruitmentId,jdbcType=BIGINT}
                ]]>
            </if>
            <if test="criteria.enabled != null">
                <![CDATA[
               and rai.enabled_flag = #{criteria.enabled,jdbcType=BIT}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.re.domain.ReAwardInterface" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into re_award_interface (re_id, type, award_name,
                                            award_star_time, award_end_time,
                                            award_company, award_content,
                                            award_result, award_money,
                                            reference_backup_flag, remarks,
                                            attribute1, attribute2,
                                            attribute3, enabled_flag,
                                            create_time, update_by,
                                            update_time, create_by)
            values (#{recruitmentInterface.id,jdbcType=BIGINT}, #{type,jdbcType=VARCHAR}, #{awardName,jdbcType=VARCHAR},
                    #{awardStarTime,jdbcType=DATE}, #{awardEndTime,jdbcType=DATE},
                    #{awardCompany,jdbcType=VARCHAR}, #{awardContent,jdbcType=VARCHAR},
                    #{awardResult,jdbcType=VARCHAR}, #{awardMoney,jdbcType=DECIMAL},
                    #{referenceBackupFlag,jdbcType=BIT}, #{remarks,jdbcType=VARCHAR},
                    #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
                    #{attribute3,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=BIT},
                    #{createTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from re_award_interface
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.re.domain.ReAwardInterface">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.re.domain.ReAwardInterface">
        <![CDATA[
            update re_award_interface
               set re_id                 = #{recruitmentInterface.id,jdbcType=BIGINT},
                   type                  = #{type,jdbcType=VARCHAR},
                   award_name            = #{awardName,jdbcType=VARCHAR},
                   award_star_time       = #{awardStarTime,jdbcType=DATE},
                   award_end_time        = #{awardEndTime,jdbcType=DATE},
                   award_company         = #{awardCompany,jdbcType=VARCHAR},
                   award_content         = #{awardContent,jdbcType=VARCHAR},
                   award_result          = #{awardResult,jdbcType=VARCHAR},
                   award_money           = #{awardMoney,jdbcType=DECIMAL},
                   reference_backup_flag = #{referenceBackupFlag,jdbcType=BIT},
                   remarks               = #{remarks,jdbcType=VARCHAR},
                   attribute1            = #{attribute1,jdbcType=VARCHAR},
                   attribute2            = #{attribute2,jdbcType=VARCHAR},
                   attribute3            = #{attribute3,jdbcType=VARCHAR},
                   enabled_flag          = #{enabledFlag,jdbcType=BIT},
                   update_by             = #{updateBy,jdbcType=BIGINT},
                   update_time           = #{updateTime,jdbcType=TIMESTAMP}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="ReAwardInterfaceResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where rai.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="ReAwardInterfaceResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="ReAwardInterfaceResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

</mapper>
