<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.re.dao.ReHobbyDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.re.domain.ReHobby">
        <id column="id" property="id" />
        <result column="re_id" property="reId" />
        <result column="hobby" property="hobby" />
        <result column="level_myself" property="levelMyself" />
        <result column="level_mechanism" property="levelMechanism" />
        <result column="remarks" property="remarks" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="create_by" property="createBy" />
    </resultMap>

    <resultMap id="ReHobbyResultMap" type="com.sunten.hrms.re.domain.ReHobby" autoMapping="true">
        <id column="id" property="id" />
        <association property="recruitment"
                     javaType="com.sunten.hrms.re.domain.ReRecruitment"
                     resultMap="com.sunten.hrms.re.dao.ReRecruitmentDao.ReRecruitmentResultMap"
                     columnPrefix="rr_"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            rh.re_id as rr_id, rh.hobby, rh.level_myself, rh.level_mechanism, rh.remarks, rh.attribute1, rh.attribute2,
            rh.attribute3, rh.enabled_flag, rh.id, rh.update_time, rh.create_time, rh.update_by, rh.create_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.re_id as ${tAlias}_rr_id, ${tAlias}.hobby as ${tAlias}_hobby,
            ${tAlias}.level_myself as ${tAlias}_level_myself,
            ${tAlias}.level_mechanism as ${tAlias}_level_mechanism, ${tAlias}.remarks as ${tAlias}_remarks,
            ${tAlias}.attribute1 as ${tAlias}_attribute1, ${tAlias}.attribute2 as ${tAlias}_attribute2,
            ${tAlias}.attribute3 as ${tAlias}_attribute3, ${tAlias}.enabled_flag as ${tAlias}_enabled_flag,
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.update_time as ${tAlias}_update_time,
            ${tAlias}.create_time as ${tAlias}_create_time, ${tAlias}.update_by as ${tAlias}_update_by,
            ${tAlias}.create_by as ${tAlias}_create_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from re_hobby rh
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.reId != null">
                <![CDATA[
               and rh.re_id = #{criteria.reId,jdbcType=BIGINT}
                ]]>
            </if>
            <if test="criteria.enabled != null">
                <![CDATA[
               and rh.enabled_flag = #{criteria.enabled,jdbcType=BIT}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.re.domain.ReHobby" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into re_hobby (re_id, hobby, level_myself,
                                  level_mechanism, remarks,
                                  attribute1, attribute2,
                                  attribute3, enabled_flag,
                                  update_time, create_time,
                                  update_by, create_by)
            values (#{recruitment.id,jdbcType=BIGINT}, #{hobby,jdbcType=VARCHAR}, #{levelMyself,jdbcType=VARCHAR},
                    #{levelMechanism,jdbcType=VARCHAR}, #{remarks,jdbcType=VARCHAR},
                    #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
                    #{attribute3,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=BIT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
                    #{updateBy,jdbcType=BIGINT}, #{createBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from re_hobby
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.re.domain.ReHobby">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.re.domain.ReHobby">
        <![CDATA[
            update re_hobby
               set re_id           = #{recruitment.id,jdbcType=BIGINT},
                   hobby           = #{hobby,jdbcType=VARCHAR},
                   level_myself    = #{levelMyself,jdbcType=VARCHAR},
                   level_mechanism = #{levelMechanism,jdbcType=VARCHAR},
                   remarks         = #{remarks,jdbcType=VARCHAR},
                   attribute1      = #{attribute1,jdbcType=VARCHAR},
                   attribute2      = #{attribute2,jdbcType=VARCHAR},
                   attribute3      = #{attribute3,jdbcType=VARCHAR},
                   enabled_flag    = #{enabledFlag,jdbcType=BIT},
                   update_time     = #{updateTime,jdbcType=TIMESTAMP},
                   update_by       = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="ReHobbyResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where rh.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="ReHobbyResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="ReHobbyResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <update id="updateEnableFlag" parameterType="com.sunten.hrms.re.domain.ReHobby">
        <![CDATA[
        update re_hobby
        set
            enabled_flag    = #{enabledFlag,jdbcType=BIT},
            update_time     = #{updateTime,jdbcType=TIMESTAMP},
            update_by       = #{updateBy,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>
</mapper>
