<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.re.dao.ReTrainDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.re.domain.ReTrain">
        <id column="id" property="id" />
        <result column="re_id" property="reId" />
        <result column="train_name" property="trainName" />
        <result column="start_time" property="startTime" />
        <result column="end_time" property="endTime" />
        <result column="train_content" property="trainContent" />
        <result column="train_type" property="trainType" />
        <result column="train_time" property="trainTime" />
        <result column="train_address" property="trainAddress" />
        <result column="train_company" property="trainCompany" />
        <result column="certificate" property="certificate" />
        <result column="lecturer" property="lecturer" />
        <result column="lecturer_information" property="lecturerInformation" />
        <result column="remarks" property="remarks" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="update_time" property="updateTime" />
        <result column="create_time" property="createTime" />
        <result column="update_by" property="updateBy" />
        <result column="create_by" property="createBy" />
        <result column="train_time_new" property="trainTimeNew" />
    </resultMap>

    <resultMap id="ReTrainResultMap" type="com.sunten.hrms.re.domain.ReTrain" autoMapping="true">
        <id column="id" property="id" />
        <association property="recruitment"
                     javaType="com.sunten.hrms.re.domain.ReRecruitment"
                     resultMap="com.sunten.hrms.re.dao.ReRecruitmentDao.ReRecruitmentResultMap"
                     columnPrefix="rr_"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            rt.re_id as rr_id, rt.train_name, rt.start_time, rt.end_time, rt.train_content, rt.train_type,
            rt.train_time, rt.train_address, rt.train_company, rt.certificate, rt.lecturer,
            rt.lecturer_information, rt.remarks, rt.attribute1, rt.attribute2, rt.attribute3, rt.enabled_flag,
            rt.id, rt.update_time, rt.create_time, rt.update_by, rt.create_by, rt.train_time_new
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.re_id as ${tAlias}_rr_id, ${tAlias}.train_name as ${tAlias}_train_name,
            ${tAlias}.start_time as ${tAlias}_start_time, ${tAlias}.end_time as ${tAlias}_end_time,
            ${tAlias}.train_content as ${tAlias}_train_content, ${tAlias}.train_type as ${tAlias}_train_type,
            ${tAlias}.train_time as ${tAlias}_train_time, ${tAlias}.train_address as ${tAlias}_train_address,
            ${tAlias}.train_company as ${tAlias}_train_company, ${tAlias}.certificate as ${tAlias}_certificate,
            ${tAlias}.lecturer as ${tAlias}_lecturer,
            ${tAlias}.lecturer_information as ${tAlias}_lecturer_information,
            ${tAlias}.remarks as ${tAlias}_remarks, ${tAlias}.attribute1 as ${tAlias}_attribute1,
            ${tAlias}.attribute2 as ${tAlias}_attribute2, ${tAlias}.attribute3 as ${tAlias}_attribute3,
            ${tAlias}.enabled_flag as ${tAlias}_enabled_flag, ${tAlias}.id as ${tAlias}_id,
            ${tAlias}.update_time as ${tAlias}_update_time, ${tAlias}.create_time as ${tAlias}_create_time,
            ${tAlias}.update_by as ${tAlias}_update_by, ${tAlias}.create_by as ${tAlias}_create_by,
            ${tAlias}.train_time_new as ${tAlias}_train_time_new
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from re_train rt
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
            <if test="criteria.reId != null">
                <![CDATA[
               and rt.re_id = #{criteria.reId,jdbcType=BIGINT}
                ]]>
            </if>
            <if test="criteria.enabled != null">
                <![CDATA[
               and rt.enabled_flag = #{criteria.enabled,jdbcType=BIT}
                ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.re.domain.ReTrain" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into re_train (re_id, train_name, start_time,
                                  end_time, train_content, train_type,
                                  train_time, train_address,
                                  train_company, certificate,
                                  lecturer, lecturer_information,
                                  remarks, attribute1, attribute2,
                                  attribute3, enabled_flag,
                                  update_time, create_time,
                                  update_by, create_by, train_time_new)
            values (#{recruitment.id,jdbcType=BIGINT}, #{trainName,jdbcType=VARCHAR}, #{startTime,jdbcType=DATE},
                    #{endTime,jdbcType=DATE}, #{trainContent,jdbcType=VARCHAR}, #{trainType,jdbcType=VARCHAR},
                    #{trainTime,jdbcType=VARCHAR}, #{trainAddress,jdbcType=VARCHAR},
                    #{trainCompany,jdbcType=VARCHAR}, #{certificate,jdbcType=VARCHAR},
                    #{lecturer,jdbcType=VARCHAR}, #{lecturerInformation,jdbcType=VARCHAR},
                    #{remarks,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
                    #{attribute3,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=BIT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{createTime,jdbcType=TIMESTAMP},
                    #{updateBy,jdbcType=BIGINT}, #{createBy,jdbcType=BIGINT},#{trainTimeNew,jdbcType=VARCHAR})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from re_train
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.re.domain.ReTrain">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.re.domain.ReTrain">
        <![CDATA[
            update re_train
               set re_id                = #{recruitment.id,jdbcType=BIGINT},
                   train_name           = #{trainName,jdbcType=VARCHAR},
                   start_time           = #{startTime,jdbcType=DATE},
                   end_time             = #{endTime,jdbcType=DATE},
                   train_content        = #{trainContent,jdbcType=VARCHAR},
                   train_type           = #{trainType,jdbcType=VARCHAR},
                   train_time           = #{trainTime,jdbcType=VARCHAR},
                   train_address        = #{trainAddress,jdbcType=VARCHAR},
                   train_company        = #{trainCompany,jdbcType=VARCHAR},
                   certificate          = #{certificate,jdbcType=VARCHAR},
                   lecturer             = #{lecturer,jdbcType=VARCHAR},
                   lecturer_information = #{lecturerInformation,jdbcType=VARCHAR},
                   remarks              = #{remarks,jdbcType=VARCHAR},
                   attribute1           = #{attribute1,jdbcType=VARCHAR},
                   attribute2           = #{attribute2,jdbcType=VARCHAR},
                   attribute3           = #{attribute3,jdbcType=VARCHAR},
                   enabled_flag         = #{enabledFlag,jdbcType=BIT},
                   update_time          = #{updateTime,jdbcType=TIMESTAMP},
                   update_by            = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="ReTrainResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where rt.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="ReTrainResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="ReTrainResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <update id="updateEnableFlag" parameterType="com.sunten.hrms.re.domain.ReTrain">
        <![CDATA[
        update re_train
        set enabled_flag         = #{enabledFlag,jdbcType=BIT},
            update_time          = #{updateTime,jdbcType=TIMESTAMP},
            update_by            = #{updateBy,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

</mapper>
