<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sunten.hrms.re.dao.ReVocationalDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.sunten.hrms.re.domain.ReVocational">
        <id column="id" property="id" />
        <result column="re_id" property="reId" />
        <result column="vocational_name" property="vocationalName" />
        <result column="vocational_level" property="vocationalLevel" />
        <result column="evaluation_time" property="evaluationTime" />
        <result column="evaluation_mechanism" property="evaluationMechanism" />
        <result column="vocational_validity" property="vocationalValidity" />
        <result column="remarks" property="remarks" />
        <result column="new_vocational_flag" property="newVocationalFlag" />
        <result column="attribute1" property="attribute1" />
        <result column="attribute2" property="attribute2" />
        <result column="attribute3" property="attribute3" />
        <result column="enabled_flag" property="enabledFlag" />
        <result column="create_time" property="createTime" />
        <result column="create_by" property="createBy" />
        <result column="update_time" property="updateTime" />
        <result column="update_by" property="updateBy" />
    </resultMap>

    <resultMap id="ReVocationalResultMap" type="com.sunten.hrms.re.domain.ReVocational" autoMapping="true">
        <id column="id" property="id" />
        <association property="recruitment"
                     javaType="com.sunten.hrms.re.domain.ReRecruitment"
                     resultMap="com.sunten.hrms.re.dao.ReRecruitmentDao.ReRecruitmentResultMap"
                     columnPrefix="rr_"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        <![CDATA[
            rv.re_id rr_id, rv.vocational_name, rv.vocational_level, rv.evaluation_time, rv.evaluation_mechanism,
            rv.vocational_validity, rv.remarks, rv.new_vocational_flag, rv.attribute1, rv.attribute2,
            rv.attribute3, rv.enabled_flag, rv.id, rv.create_time, rv.create_by, rv.update_time, rv.update_by
        ]]>
    </sql>

    <!-- 带参数通用查询结果列 -->
    <sql id="Base_Column_With_Param_List">
        <![CDATA[
            ${tAlias}.re_id as ${tAlias}_rr_id, ${tAlias}.vocational_name as ${tAlias}_vocational_name,
            ${tAlias}.vocational_level as ${tAlias}_vocational_level,
            ${tAlias}.evaluation_time as ${tAlias}_evaluation_time,
            ${tAlias}.evaluation_mechanism as ${tAlias}_evaluation_mechanism,
            ${tAlias}.vocational_validity as ${tAlias}_vocational_validity,
            ${tAlias}.remarks as ${tAlias}_remarks,
            ${tAlias}.new_vocational_flag as ${tAlias}_new_vocational_flag,
            ${tAlias}.attribute1 as ${tAlias}_attribute1, ${tAlias}.attribute2 as ${tAlias}_attribute2,
            ${tAlias}.attribute3 as ${tAlias}_attribute3, ${tAlias}.enabled_flag as ${tAlias}_enabled_flag,
            ${tAlias}.id as ${tAlias}_id, ${tAlias}.create_time as ${tAlias}_create_time,
            ${tAlias}.create_by as ${tAlias}_create_by, ${tAlias}.update_time as ${tAlias}_update_time,
            ${tAlias}.update_by as ${tAlias}_update_by
        ]]>
    </sql>

    <sql id="Base_Column_Query_Sql">
        <![CDATA[
            select
        ]]>
        <include refid="Base_Column_List"/>
        <![CDATA[
              from re_vocational rv
        ]]>
    </sql>

    <sql id="Select_All_Criteria_Sql">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where 1 = 1
        ]]>
        <if test="criteria != null">
        <if test="criteria.enabled != null">
            <![CDATA[
                and rv.enabled_flag = #{criteria.enabled,jdbcType=BIT}
            ]]>
        </if>
            <if test="criteria.enabled != null">
                <![CDATA[
                and rv.re_id = #{criteria.reId,jdbcType=BIGINT}
            ]]>
            </if>
        </if>
    </sql>

    <insert id="insertAllColumn" parameterType="com.sunten.hrms.re.domain.ReVocational" useGeneratedKeys="true" keyProperty="id">
        <![CDATA[
            insert into re_vocational (re_id, vocational_name,
                                       vocational_level, evaluation_time,
                                       evaluation_mechanism, vocational_validity,
                                       remarks, new_vocational_flag,
                                       attribute1, attribute2,
                                       attribute3, enabled_flag,
                                       create_time, create_by,
                                       update_time, update_by)
            values (#{recruitment.id,jdbcType=BIGINT}, #{vocationalName,jdbcType=VARCHAR},
                    #{vocationalLevel,jdbcType=VARCHAR}, #{evaluationTime,jdbcType=DATE},
                    #{evaluationMechanism,jdbcType=VARCHAR}, #{vocationalValidity,jdbcType=DATE},
                    #{remarks,jdbcType=VARCHAR}, #{newVocationalFlag,jdbcType=BIT},
                    #{attribute1,jdbcType=VARCHAR}, #{attribute2,jdbcType=VARCHAR},
                    #{attribute3,jdbcType=VARCHAR}, #{enabledFlag,jdbcType=BIT},
                    #{createTime,jdbcType=TIMESTAMP}, #{createBy,jdbcType=BIGINT},
                    #{updateTime,jdbcType=TIMESTAMP}, #{updateBy,jdbcType=BIGINT})
        ]]>
    </insert>

    <sql id="Delete_Sql">
        <![CDATA[
            delete
              from re_vocational
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </sql>

    <delete id="deleteByKey">
        <include refid="Delete_Sql"/>
    </delete>

    <delete id="deleteByEntityKey" parameterType="com.sunten.hrms.re.domain.ReVocational">
        <include refid="Delete_Sql"/>
    </delete>

    <update id="updateAllColumnByKey" parameterType="com.sunten.hrms.re.domain.ReVocational">
        <![CDATA[
            update re_vocational
               set re_id                = #{recruitment.id,jdbcType=BIGINT},
                   vocational_name      = #{vocationalName,jdbcType=VARCHAR},
                   vocational_level     = #{vocationalLevel,jdbcType=VARCHAR},
                   evaluation_time      = #{evaluationTime,jdbcType=DATE},
                   evaluation_mechanism = #{evaluationMechanism,jdbcType=VARCHAR},
                   vocational_validity  = #{vocationalValidity,jdbcType=DATE},
                   remarks              = #{remarks,jdbcType=VARCHAR},
                   new_vocational_flag  = #{newVocationalFlag,jdbcType=BIT},
                   attribute1           = #{attribute1,jdbcType=VARCHAR},
                   attribute2           = #{attribute2,jdbcType=VARCHAR},
                   attribute3           = #{attribute3,jdbcType=VARCHAR},
                   enabled_flag         = #{enabledFlag,jdbcType=BIT},
                   update_time          = #{updateTime,jdbcType=TIMESTAMP},
                   update_by            = #{updateBy,jdbcType=BIGINT}
             where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>

    <select id="getByKey" resultMap="ReVocationalResultMap">
        <include refid="Base_Column_Query_Sql"/>
        <![CDATA[
             where rv.id = #{id,jdbcType=BIGINT}
        ]]>
    </select>

    <select id="listAllByCriteria" resultMap="ReVocationalResultMap">
        <include refid="Select_All_Criteria_Sql"/>
        <![CDATA[
            order by id
        ]]>
    </select>

    <select id="listAllByCriteriaPage" resultMap="ReVocationalResultMap">
        <include refid="Select_All_Criteria_Sql"/>
    </select>

    <update id="updateEnableFalg" parameterType="com.sunten.hrms.re.domain.ReVocational">
        <![CDATA[
        update re_vocational
        set enabled_flag         = #{enabledFlag,jdbcType=BIT},
            update_time          = #{updateTime,jdbcType=TIMESTAMP},
            update_by            = #{updateBy,jdbcType=BIGINT}
        where id = #{id,jdbcType=BIGINT}
        ]]>
    </update>
</mapper>
